@import url("styles/header.css");

:root {
    --azul: #4f7bd1;
    --amarelo: #ffe600;
    --roxo: #d3159a;
    --azul-degrade: linear-gradient(97.54deg, #f181c6 35.49%, #3fdd86 165.37%);
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 380;
}